<!DOCTYPE html>
{include file="common:header_iframe"}

<div class="container-fluid p-t-15">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h4>用户详情</h4></div>
                <div class="card-body">
                    <form action="##" method="post" onsubmit="return false;">
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon" >用户名称</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$parent['nickname']}"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon" >来源用户</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$parent_form['nickname']}"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon " >金额</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$list['money']}"
                            >
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon" >执行时间</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$list['act_time']|date='Y-m-d H:i'}"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon">完成时间</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$list['finsh_time']|date='Y-m-d H:i'}"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon" >状态</span>
                            <input type="text" class="form-control" disabled="disabled" value="{if condition="$list['act_status'] eq 1"} 队列中 {elseif  condition="$list['act_status'] eq 2"} 已执行 {else/} 已取消 {/if}" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon" >订单编号</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$order_number['order_no']}"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon" >来源</span>
                            <input type="text" class="form-control" disabled="disabled" value="{if condition="$list['action_type'] eq 1" } 商品 {else/} 未知 {/if}" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon " >收入说明</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$list['expain_content']}"
                            >
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon " >备注</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$list['remark']}"
                            >
                        </div>

                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon " >注册时间</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$list['create_time']|date='Y-m-d H:i'}"
                            >
                        </div>
                        <div class="input-group m-b-10 col-xs-9">
                            <span class="input-group-addon" >更新时间</span>
                            <input type="text" class="form-control" disabled="disabled" value="{$list['update_time']|date='Y-m-d H:i'}"
                                   aria-describedby="basic-addon1">
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="__IMJS__/jquery.min.js"></script>
<script type="text/javascript" src="__IMJS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__IMJS__/main.min.js"></script>
</body>
</html>