<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>后台管理</title>
    <link rel="icon" href="favicon.ico" type="__IMIMG__/ico">

    <link href="__IMCSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__IMCSS__/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__IMJS__/bootstrap-multitabs/multitabs.min.css">
    <link href="__IMCSS__/style.min.css" rel="stylesheet">

    <!--新增css样式-->
    <link rel="stylesheet" href="__IMJS__/jquery-tags-input/jquery.tagsinput.min.css">
    <!--时间选择插件-->
    <link rel="stylesheet" href="__IMJS__/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="__IMJS__/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="__IMJS__/jconfirm/jquery-confirm.min.css">
    <!--对话框-->
    
    <!--新增css样式end-->

</head>

<body>