<!DOCTYPE html>
{include file="common:header_iframe"}

<div class="container-fluid p-t-15">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <form action="/order/real_edit_bath" method="post" class="row">
                        <input type="hidden" class="form-control" id="id" name="id"
                               value="{$list.id}" />
                        <!--月卡-->
                        <div class="form-group col-md-12">
                            <label for="title">免押月卡</label>
                            <input type="text" class="form-control" id="title1" name="one_month"
                                   value="{$list['one_month']}"  placeholder="请输入价格" onkeyup="num(this)" />
                        </div>

                        <div class="form-group col-md-12">
                            <label for="title">免押月卡_赠送次数</label>
                            <input type="text" class="form-control" id="title2" name="one_month_second"
                                   value="{$list['one_month_second']}" placeholder="请输入赠送次数" onkeyup="num(this)" />
                        </div>

                        <div class="form-group col-md-12">
                            <label for="title">免押季卡</label>
                            <input type="text" class="form-control" id="title3" name="three_month"
                                   value="{$list['three_month']}" placeholder="请输入价格" onkeyup="num(this)" />
                        </div>

                        <div class="form-group col-md-12">
                            <label for="title">免押季卡_赠送次数</label>
                            <input type="text" class="form-control" id="title4" name="three_month_second"
                                   value="{$list['three_month_second']}" placeholder="请输入赠送次数" onkeyup="num(this)" />
                        </div>

                        <div class="form-group col-md-12">
                            <label for="title">免押年卡</label>
                            <input type="text" class="form-control" id="title5" name="one_year"
                                   value="{$list['one_year']}" placeholder="请输入价格" onkeyup="num(this)" />
                        </div>

                        <div class="form-group col-md-12">
                            <label for="title">免押年卡_赠送次数</label>
                            <input type="text" class="form-control" id="title6" name="one_year_second"
                                   value="{$list['one_year_second']}" placeholder="请输入赠送次数" onkeyup="num(this)" />
                        </div>

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

</main>
<!--End 页面主要内容-->
</div>
</div>

<script type="text/javascript" src="__IMJS__/jquery.min.js"></script>
<script type="text/javascript" src="__IMJS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__IMJS__/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="__IMJS__/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="__IMJS__/main.min.js"></script>

<!--时间选择插件-->
<script src="__IMJS__/bootstrap-datetimepicker/moment.min.js"></script>
<script src="__IMJS__/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="__IMJS__/bootstrap-datetimepicker/locale/zh-cn.js"></script>
<!--日期选择插件-->
<script src="__IMJS__/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="__IMJS__/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript" src="__IMJS__/main.min.js"></script>
</body>
<script type="text/javascript" src="__PLUGINS__/layui/laydate/laydate.js"></script> <!-- 改成你的路径 -->
<script type="text/javascript">
    laydate.render({
        elem: '#time1' //指定元素
    });
    laydate.render({
        elem: '#time2' //指定元素
    });
</script>
<script>
    function num(obj) {
        obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
    }
</script>

</html>